<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eight Demon Starlords: Octagram</title>
    <link rel="shortcut icon" href="/image/icon/favicon.svg" type="image/x-icon">

    <!-- Preloading Google Fonts for better performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bungee+Tint&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">

    <!-- Linking external CSS files for styles -->
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <main class="main-container">
        <div class="main__content">
            <!-- Displaying the demon's name and title dynamically -->
            <h1><%= demon.name %></h1>
            <h2><%= demon.title %></h2>

            <hr>

            <!-- Displaying the demon's image -->
            <img src=<%= demon.image %> alt="Demon Lord <%= demon.name %>">

            <hr>

            <!-- Displaying the demon's species -->
            <h3>Espécie:</h3>
            <p><%= demon.specie %></p>

            <hr>

            <!-- Displaying the demon's appearance details -->
            <h3>Aparência:</h3>
            <p><%= demon.appearance %></p>
        </div>

        <!-- Button to navigate to the previous demon -->
         <a href="/previous/<%= demon.id %>" class="previous-button">
            <img src="/image/icon/arrow_back.svg" alt="Arrow back">
         </a>

        <!-- Button to navigate to the next demon -->
         <a href="/next/<%= demon.id %>" class="next-button">
            <img src="/image/icon/arrow_forward.svg" alt="Arrow forward">
         </a>
    </main>
</body>
</html>
